.whats-app-form {
  z-index: 100;
  position: fixed;
  left: 20px;
  bottom: 90px;
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.whats-app-form .form-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  padding: 15px;
  background-color: #075E54;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.whats-app-form .form-header img {
  width: 35px;
  height: auto;
}

.whats-app-form .form-header p {
  color: #fff;
  font-size: 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.whats-app-form .form-body {
  padding: 18px 15px;
  height: 340px;
  font-size: 17px;
  text-align: center;
  overflow: auto;
}

.whats-app-form .form-body::-webkit-scrollbar {
  width: 8px;
}

.whats-app-form .form-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.whats-app-form .form-body::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
}

.whats-app-form .form-body label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 0px;
  font-size: 15px;
}

.whats-app-form .form-body input {
  padding: 8px 10px;
  margin-bottom: 5px;
  width: calc( 100% - 20px);
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.whats-app-form .form-body .checkbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 5px;
  margin: 15px auto;
  width: 90%;
}

.whats-app-form .form-body .checkbox input {
  margin: 0px;
  width: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.whats-app-form .form-body .checkbox p {
  font-size: 14px;
}

.whats-app-form .form-body button {
  display: -ms-grid;
  display: grid;
  width: calc( 100% - 20px);
  border: none;
}

.whats-app-form .form-body button a {
  padding: 12px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  background-color: #277727;
  border-radius: 5px;
  text-decoration: none;
}

.whats-app-form .form-body button a:hover {
  background-color: #5cb85c;
}

.whats-app-form .form-footer {
  padding: 5px;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.whats-app-form .form-footer p {
  font-size: 14px;
}

.whats-app-form.hide {
  bottom: 0px;
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

button.whats-app-button {
  z-index: 100;
  position: fixed;
  left: 20px;
  bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 5px;
  padding: 13px 20px;
  background-color: #075E54;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

button.whats-app-button img {
  width: 25px;
  height: auto;
}

button.whats-app-button p {
  color: #fff;
  font-size: 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=whatsAppForm.css.map */